@import url('https://fonts.googleapis.com/css?family=Exo');

html {
  width: 100%;
  min-height: 100%;
  font-size: 62.5%;
  font-family: 'Exo', sans-serif;
  background-color: #000c1a;
}
/* barre de navigation */
#navbar {


  background-color: #000;
  position: sticky;
  top: 0px;
  height: 100px;
  padding: 0 20px;
  z-index: 100;
  overflow: hidden;
}

.connexion a, nav img {

  font-size: 2.5rem;
  line-height: 60px;
  color: #FFF;
  margin: 0 10px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}
.leftnav a {
  font-size: 4rem;
  line-height: 60px;
  color: #FFF;
  margin: 0 10px;
  text-decoration: none;

}
nav a:hover {
  color: #0063CD;
  transition: .5s;
}

nav a:hover .tel {
  filter: hue-rotate(91deg) saturate(68%) brightness(53%);
  transition: .5s;
}

nav .connexion {

  float: right;
  display: flex;
  flex-direction: column;
  flex-direction: center;


}

nav .logo {
  height: 100px;
  margin-left: 20px;
  border-radius: 2px;
}

nav .tel {
  height: 25px;
  margin: 37.7px 7px 0;
}
nav .connexion, .nouveaucompte {


}
nav input {
  margin: 5px 0px 5px 0px;
  min-height: 30px;
}
nav .films a {
  font-size: 4rem;
}
.leftnav {
  float: left;
  display: flex;
  justify-content: space-between;
  width:68%;
  align-items: center;
}
#panel {
    padding: 5px;
    text-align: center;
    background-color: white;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 30px;
    display: none;
    width:100%;
}
/* CAROUSSEL */

#wrapper{
  width:300px;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  margin: 100px auto 0 auto;
}

.carrousel{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: Caroussel 20s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-animation: Caroussel 20s infinite linear;
}

.plan{
  position:absolute;
  height: 400px;
  width: 300px;
  text-align:center;
  font-size: 8em;
  color:#FFF;
  background-color: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes Caroussel{

  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(-360deg); }
}

@-moz-keyframes Caroussel{

  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(-360deg); }
}
.affiche {
  width:300px;
  height:400px;
}


.p1{ -webkit-transform: translateZ(400px);}
.p2{ -webkit-transform: rotateY(45deg) translateZ(400px);}
.p3{ -webkit-transform: rotateY(90deg) translateZ(400px);}
.p4{ -webkit-transform: rotateY(135deg) translateZ(400px);}
.p5{ -webkit-transform: rotateY(180deg) translateZ(400px);}
.p6{ -webkit-transform: rotateY(225deg) translateZ(400px);}
.p7{ -webkit-transform: rotateY(270deg) translateZ(400px);}
.p8{ -webkit-transform: rotateY(315deg) translateZ(400px);}

.p1{ -moz-transform: translateZ(400px);}
.p2{ -moz-transform: rotateY(45deg) translateZ(400px);}
.p3{ -moz-transform: rotateY(90deg) translateZ(400px);}
.p4{ -moz-transform: rotateY(135deg) translateZ(400px);}
.p5{ -moz-transform: rotateY(180deg) translateZ(400px);}
.p6{ -moz-transform: rotateY(225deg) translateZ(400px);}
.p7{ -moz-transform: rotateY(270deg) translateZ(400px);}
.p8{ -moz-transform: rotateY(315deg) translateZ(400px);}


/* Main index*/
main {
  margin: 200px 50px 100px 50px;

}
main h2 {
  font-size: 4rem;
  font-family: 'Exo', sans-serif;
  color: white;
}
.nouveautes ul, .anepasmanquer ul, .pourfamille ul{
  display: flex;

  margin: 50px 0 100px 0;
}
main ul {
text-align: center;
flex-wrap: wrap;
}
main li {

  margin: 15px 20px 0 0;
}
main p {
  font-size: 1.5rem;
  margin-top: 10px;
  color:white;
}
/* Main listefilms*/
.select {
  margin:60px 10px 0 10px;
}
form input {
  margin: 40px 10px 0 0;
}
#listefilms {
  display: flex;
}
section ul{
  display: flex;

  margin: 50px 0 100px 0;
}
section {
  margin-right: 50px;
}
/* Main fichefilms*/
#section1 {
  display: flex;
  margin-top: 100px;
}
 #section2 {
   margin: 100px 0 100px 0;
 }
.affichefilm {
  width:400px;
  margin-left: 50px;
  }
  .bandeannonce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
.scenario {
  width:100%;
  margin-bottom: 30px;
}
.scenario h3, .acteurs h3 {
  color: white;
  font-size: 4rem;
  margin-left: 50px;
}
.scenario p {
  font-size: 2.5rem;
  margin-left: 50px;
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  background-color: #000;
  padding: 0 20px;
  height: 300px;
}

footer p, footer a {
  text-align: center;
  font-size: 20px;
  color: #FFF;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  line-height: 40px;
}

footer .facebook {
  float: right;
  line-height: 70px;
}

footer img {
  height: 50px;
  margin: 10px;
  padding: 5px;
  transition: .5s;
}

footer img:hover {
  border: 1px solid white;
  border-radius: 5px;
}

main {
  min-height: calc(100vh - 70px - 100px);
}
.up {
  display: flex;
  flex-direction: column;
}
footer .up {

  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .films {
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0 0;
}
.films h3 a {
  font-size: 4rem;
  font-weight: normal;

}
footer .genre {
  display: flex;
  justify-content: center;
}
footer .rang {
  margin-right: 20px;
  margin-left: 20px;

}
footer a:hover {
  color: #0063CD;
  transition: .5s;
}
.fab, .fas {
  letter-spacing: 30px;
  text-decoration: none;
  font-size: 5rem;
  margin-right: : 25px;

}
.bouton {
  font-size: 2rem;
}
.bouton:hover {
  background: #0063CD;
  color:black;
  transition: .5s;
}
footer .down {
  display: flex;
  justify-content: center;
}
.down a {
  margin: 0 40px 0px 0;
  font-size: 1.5rem;
}

/* formulaire de contact */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    cursor: pointer;
}

#form-wrapper{

  background: url('../img/backgroundform.gif');

    position: absolute;
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 7px;
}
#form-wrapper h3 {
  text-align: center;
  margin: 20px 0 50px 0;
  font-size:4.5rem;
}
#contact-form {
    background: #554d47 url(../img/contact-bkgd.jpg);
    width: 70%;
    height: 630px;
    margin: 0 auto;
}
#form {
    float: left;
    width: 700px;
  }
  #form-wrapper .fas {
    float: right;
    margin-top: 10px;
    color:white;

  }
  #form-wrapper .fas:hover {
    color: #000c1a;
		transition: 0.7s;
  }
.input-coord {
  display: flex;

}
#name, #email {
  width:300px;
  height:50px;
  border-radius: 10px;
}
.input-message {
  display: flex;
  flex-direction: column;
  width:90%;
}
#form input {
  margin: 10px 10px 20px 10px;
}
.input-name, .input-email, .input-message {
  margin-left:10px;
}
.input-message{
  margin: 20px;
}
#message {
  margin: 10px;
}
#form p {
  text-align: center;
  margin-top: 20px;
}
#alignement {
  display: flex;
  flex-direction: row;
  width: 100%;

}
#form-sidebar {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul .fab {
  color: white;
margin-top: 15px;
}
ul .fab:hover {
  color: #000c1a;
  transition: 0.7s;
}
