@import url('https://fonts.googleapis.com/css?family=Exo');

html {
  font-size: 62.5%;
}

nav {


  background-color: #000;
  position: sticky;
  top: 0px;
  height: 100px;
  padding: 0 20px;
  z-index: 100;
  overflow: hidden;
}

.connexion a, nav img {

  font-size: 2.5rem;
  line-height: 60px;
  color: #FFF;
  margin: 0 10px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}
.leftnav a {
  font-size: 4rem;
  line-height: 60px;
  color: #FFF;
  margin: 0 10px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}
nav a:hover {
  color: #0063CD;
  transition: .5s;
}

nav a:hover .tel {
  filter: hue-rotate(91deg) saturate(68%) brightness(53%);
  transition: .5s;
}

nav .connexion {

  float: right;
  display: flex;
  flex-direction: column;
  flex-direction: center;


}

nav .logo {
  height: 100px;
  margin-left: 20px;
  border-radius: 2px;
}

nav .tel {
  height: 25px;
  margin: 37.7px 7px 0;
}
nav .connexion, .nouveaucompte {


}
nav input {
  margin: 5px 0px 5px 0px;
  min-height: 30px;
}
nav .films a {
  font-size: 4rem;
}
.leftnav {
  float: left;
  display: flex;
  justify-content: space-between;
  width:30%;
  align-items: center;
}




#wrapper{
  width:900px;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  margin: 150px auto 0 auto;
}

.carrousel{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: Caroussel 10s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-animation: Caroussel 10s infinite linear;
}

.plan{
  position:absolute;
  height: 300px;
  width: 225px;
  text-align:center;
  font-size: 8em;
  color:#FFF;
  background-color: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes Caroussel{

  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(-360deg); }
}

@-moz-keyframes Caroussel{

  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(-360deg); }
}
.affiche {
  width:225px;
  height:300px;
}


.p1{ -webkit-transform: translateZ(300px);}
.p2{ -webkit-transform: rotateY(45deg) translateZ(300px);}
.p3{ -webkit-transform: rotateY(90deg) translateZ(300px);}
.p4{ -webkit-transform: rotateY(135deg) translateZ(300px);}
.p5{ -webkit-transform: rotateY(180deg) translateZ(300px);}
.p6{ -webkit-transform: rotateY(225deg) translateZ(300px);}
.p7{ -webkit-transform: rotateY(270deg) translateZ(300px);}
.p8{ -webkit-transform: rotateY(315deg) translateZ(300px);}

.p1{ -moz-transform: translateZ(300px);}
.p2{ -moz-transform: rotateY(45deg) translateZ(300px);}
.p3{ -moz-transform: rotateY(90deg) translateZ(300px);}
.p4{ -moz-transform: rotateY(135deg) translateZ(300px);}
.p5{ -moz-transform: rotateY(180deg) translateZ(300px);}
.p6{ -moz-transform: rotateY(225deg) translateZ(300px);}
.p7{ -moz-transform: rotateY(270deg) translateZ(300px);}
.p8{ -moz-transform: rotateY(315deg) translateZ(300px);}
